.header {
    border-bottom-width: 0;
}

.mainContainer,
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.taskInput {
    width: 80%;

    & input {
        border: 0;
        padding-left: 80px;
    }
}

.todoList--item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}